.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 390px;

  input {
    width: 27vh;
    padding: 12px;
    margin-bottom: 25px;
    border: none;
    color: white;
    background-color: $input-color;
    position: relative;
    border-radius: 10px;
    border-bottom: 2px solid $white-pallete;
    font-size: 1em;

    &:focus {
      border-bottom: 2px solid $primary-color;
      outline: none;
      transition: border-bottom 0.3s ease;
    }

    &::placeholder {
      color: transparent;
    }
  }

  //Animacion de placeholder
  input:focus + label,
  input:not(:placeholder-shown) + label {
    transform: translateY(-32px); //Cuanto se traslada hacia arriba
    font-size: 0.85em;
    color: whitesmoke;
    text-shadow: 0 0 3px  #1c1c1c;
  }

  label {
    position: absolute;
    left: 0;
    top: 12px;
    font-size: 1em;
    color: whitesmoke;
    pointer-events: none;
    transition: all 0.2s ease;
    padding-left: 10px;
  }

  .login-button {
    padding: 12px;
    background-color: $primary-color;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    width: 100%;

    &:hover {
      background-color: $secondary-color;
    }
  }
}