.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 9.3vh; //Arreglar esto, es muy dependiente de padding
  background-color: $light-background;
}