.login-title {
    font-size: 1.8em;
    color: white;
    margin-bottom: 40px;
    text-align: center;
}

.login-subtitle {
    font-size: 1.2em;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 40px;
    text-align: left;
}