$primary-color: #0e83ff;
$secondary-color: #0056b3;
$light-background: #74a4ec;
$info-color:  #849cc4;
$white-pallete:  #bcd4e4;
$input-color:  #346cbc;
$dark-color: rgb(49, 47, 47);
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
$border-radius: 8px;