@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@import './colors/variables.scss';
@import './layout/index.scss';
@import './nav-bar/index.scss';
@import './lightbulb-page/index.scss';
@import './header/index.scss';
@import './footer/index.scss';
@import './login-page/index.scss';
@import './phone-style/index.scss';
@import './maps/index.scss';
@import './detallesDenuncia/index.scss';
@import './advertencia/index.scss';
@import './listado/index.scss';
@import './loading/index.scss';
@import './perfil/index.scss';
@import './sidebar/index.scss';


html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

* {
  font-family: 'Open Sans', sans-serif;
}
