.icon-selection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    background-color: #7f9bc2; //#5b83bb
    border-radius: 15px;
  }
  
  .icon-container {
    cursor: pointer;
    padding: 5px;
    transition: opacity 0.2s ease-in-out;
    
  }
  
  .icon-container.selected .icon-image {
    filter: brightness(1); /* Ilumina el ícono seleccionado */
  }
  
  .icon-container:not(.selected) .icon-image {
    filter: brightness(0.6); /* Oscurece los íconos no seleccionados */
  }
  
  .icon-image {
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #5b92df;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  